@import "tailwindcss";

/* @variant dark (&:is(.dark *)); */
/* @variant dark (&:where(.dark, .dark *)); */

:root {
  /* Shadow Tokens */
  --shadow-input: color-0 1px 2px 0 oklch(0 0 0 / 0.05);
  --shadow-card: color-0 1px 3px 0 oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-dropdown: 0 4px 6px -1px oklch(0 0 0 / 0.1), 0 2px 4px -2px oklch(0 0 0 / 0.1);

  /* Border Radius Tokens */
  --radius-small: 0.375rem;
  --radius-default: 0.5rem;
  --radius-full: 9999px;

  /* Typography Scale Tokens */
  --font-label-size: 0.75rem;
  --font-label-line-height: 1rem;
  --font-default-size: 0.875rem;
  --font-default-line-height: 1.25rem;

  /* Light Colors Tokens */
  --color-brand-faint: oklch(0.97 0.014 254.604);
  --color-brand-muted: oklch(0.882 0.059 254.128);
  --color-brand-subtle: oklch(0.707 0.165 254.624);
  --color-brand-default: oklch(0.623 0.214 259.815);
  --color-brand-emphasis: oklch(0.488 0.243 264.376);
  --color-brand-inverted: oklch(1 0 0);

  --color-background-muted: oklch(0.985 0.002 247.839);
  --color-background-subtle: oklch(0.967 0.003 264.542);
  --color-background-default: oklch(1 0 0);
  --color-background-emphasis: oklch(0.373 0.034 259.733);

  --color-border-default: oklch(0.928 0.006 264.531);
  --color-ring-default: oklch(0.928 0.006 264.531);

  --color-content-subtle: oklch(0.707 0.022 261.325);
  --color-content-default: oklch(0.551 0.027 264.364);
  --color-content-emphasis: oklch(0.373 0.034 259.733);
  --color-content-strong: oklch(0.21 0.034 264.665);
  --color-content-inverted: oklch(1 0 0);
}

.dark {
  /* Dark Colors Tokens */
  --color-brand-faint: oklch(0.07 0.02 265);
  --color-brand-muted: oklch(0.282 0.091 267.935);
  --color-brand-subtle: oklch(0.424 0.199 265.638);
  --color-brand-default: oklch(0.623 0.214 259.815);
  --color-brand-emphasis: oklch(0.707 0.165 254.624);
  --color-brand-inverted: oklch(0.282 0.091 267.935);

  --color-background-muted: oklch(0.08 0.02 265);
  --color-background-subtle: oklch(0.278 0.033 256.848);
  --color-background-default: oklch(0.21 0.034 264.665);
  --color-background-emphasis: oklch(0.872 0.01 258.338);

  --color-border-default: oklch(0.278 0.033 256.848);
  --color-ring-default: oklch(0.278 0.033 256.848);

  --color-content-subtle: oklch(0.446 0.03 256.802);
  --color-content-default: oklch(0.551 0.027 264.364);
  --color-content-emphasis: oklch(0.928 0.006 264.531);
  --color-content-strong: oklch(0.985 0.002 247.839);
  --color-content-inverted: oklch(0.13 0.028 261.692);
}

@theme {
  /* Shadows */
  --shadow-tremor-input: var(--shadow-input);
  --shadow-tremor-card: var(--shadow-card);
  --shadow-tremor-dropdown: var(--shadow-dropdown);

  /* Border Radius */
  --radius-tremor-small: var(--radius-small);
  --radius-tremor-default: var(--radius-default);
  --radius-tremor-full: var(--radius-full);

  /* Typography Scale */
  --font-tremor-label-size: var(--font-label-size);
  --font-tremor-label-line-height: var(--font-label-line-height);
  --font-tremor-default-size: var(--font-default-size);
  --font-tremor-default-line-height: var(--font-default-line-height);

  /* Typography Colors */
  --color-tremor-brand-faint: var(--color-brand-faint);
  --color-tremor-brand-muted: var(--color-brand-muted);
  --color-tremor-brand-subtle: var(--color-brand-subtle);
  --color-tremor-brand-default: var(--color-brand-default);
  --color-tremor-brand-emphasis: var(--color-brand-emphasis);
  --color-tremor-brand-inverted: var(--color-brand-inverted);
  --color-background-tremor-muted: var(--color-background-muted);
  --color-background-tremor-subtle: var(--color-background-subtle);
  --color-background-tremor-default: var(--color-background-default);
  --color-background-tremor-emphasis: var(--color-background-emphasis);
  --color-border-tremor-default: var(--color-border-default);
  --ring-tremor-default: var(--ring-default);
  --color-content-tremor-subtle: var(--color-content-subtle);
  --color-content-tremor-default: var(--color-content-default);
  --color-content-tremor-emphasis: var(--color-content-emphasis);
  --color-content-tremor-strong: var(--color-content-strong);
  --color-content-tremor-inverted: var(--color-content-inverted);
}
