button {
    background-color: transparent;
}

.tremor-base {
    box-sizing: border-box; /* 1 */
    line-height: 1.5; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    -o-tab-size: 4;
       tab-size: 4; /* 3 */
    font-family: inherit;
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
    border-color: #e5e7eb; /* 2 */
}

.text-elem {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

.input-elem {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: inherit; /* 1 */   
}

/* .tippy-box > * {
    font-family: var(--trm-font-family)
} */

.tremor-base :is(
    *,
    ::before,
    ::after
) {
    box-sizing: inherit; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
    border-color: #e5e7eb; /* 2 */
    line-height: inherit;
}

.tremor-base ::before,
.tremor-base ::after,
::after.tremor-base,
::before.tremor-base {
  --tw-content: '';
}

.tremor-base abbr:where([title]),
abbr:where([title]).tremor-base {
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
}

.tremor-base table,
table.tremor-base {
    text-indent: 0; /* 1 */
    border-color: inherit; /* 2 */
    border-collapse: collapse; /* 3 */
}

.tremor-base button,
.tremor-base select,
button.tremor-base,
select.tremor-base {
  text-transform: none;
}

.tremor-base button,
.tremor-base [type='button'],
.tremor-base [type='reset'],
.tremor-base [type='submit'],
button.tremor-base,
[type='button'].tremor-base,
[type='reset'].tremor-base,
[type='submit'].tremor-base {
  -webkit-appearance: button; /* 1 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

.tremor-base :-moz-focusring,
:-moz-focusring.tremor-base {
    outline: auto;
}
  
/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

.tremor-base :-moz-ui-invalid,
:-moz-ui-invalid.tremor-base {
    box-shadow: none;
}

.tremor-base ::-webkit-inner-spin-button,
.tremor-base ::-webkit-outer-spin-button,
::-webkit-inner-spin-button.tremor-base,
::-webkit-outer-spin-button.tremor-base {
    height: auto;
}

.tremor-base [type='search'],
[type='search'].tremor-base {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

.tremor-base ::-webkit-search-decoration,
::-webkit-search-decoration.tremor-base {
    -webkit-appearance: none;
}  

.tremor-base ::-webkit-file-upload-button,
::-webkit-file-upload-button.tremor-base {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

.tremor-base :is(
    ol,
    ul,
    menu
),
ul.tremor-base,
ul.tremor-base,
menu.tremor-base {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tremor-base input::-moz-placeholder,
.tremor-base textarea::-moz-placeholder,
input::-moz-placeholder.tremor-base,
textarea::-moz-placeholder.tremor-base {
    opacity: 1; /* 1 */
}
  
.tremor-base input:-ms-input-placeholder,
.tremor-base textarea:-ms-input-placeholder,
input:-ms-input-placeholder.tremor-base,
textarea:-ms-input-placeholder.tremor-base {
    opacity: 1; /* 1 */
}

.tremor-base input::placeholder,
.tremor-base textarea::placeholder,
input::placeholder.tremor-base,
textarea::placeholder.tremor-base {
    opacity: 1; /* 1 */
}

.tremor-base button,
.tremor-base [role="button"],
button.tremor-base,
[role="button"].tremor-base {
    cursor: pointer;
}

.tremor-base :disabled,
:disabled.tremor-base {
    cursor: default;
}

.tremor-base :is(
    img,
    svg,
    video,
    canvas,
    audio,
    iframe,
    embed,
    object
) {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

.tremor-base [hidden],
[hidden].tremor-base {
    display: none;
}

*, ::before, ::after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
}

@tailwind base;
@tailwind components;
@tailwind utilities;